* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(127, 198, 222) 0%, rgb(13, 114, 169) 100%);
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 2px black;
  }

  h2 {
    color: white;
    text-shadow: 1px 2px black;
    text-align: center;
  }
  
  hr {
    font-weight: bold;
    height: 3px;
    background: rgb(255, 255, 255);
    margin-bottom: 5px;
  }
  
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #f7f7f7;
  }